@import 'variables';
@import 'mixins';
@import 'carsiown-global-nav';
@import 'carsiown-landing-page';
@import 'carsiown-forms';
@import 'cars-index';
@import 'car-single';
@import 'auth';

.proto-carsiown {

	padding-top: 4.8rem;

	.page-body {
		max-width: none;
		padding: 4.8rem 0;
	}

	.global-nav__menu.mobile-menu-open {

		display: block;

		@media (min-width: 768px) {
			display: flex !important;
		}

	}

}
