<div class="container">
    <cars-carousel show-text="true" show-thumbs="true" class="ng-isolate-scope">
        <div class="carousel show-thumbs show-text" ng-class="carousel.carouselClass()">
            <div class="carousel-items" ng-style="{ left: position }" ng-transclude="" style="left: 0px;">
                <cars-carousel-item title="Where Are the Greenest Car Shoppers? " image="assets/img/-783910256-1429719397171.jpg" href="/articles/where-are-the-greenest-car-shoppers--1420680353346/" class="ng-scope ng-isolate-scope">
                    <div class="carousel-item selected show-text" ng-class="carouselItem.getItemClasses()" style="background-image:url(assets/img/-783910256-1429719397171.jpg)">
                        <a class="carousel-href" ng-href="/articles/where-are-the-greenest-car-shoppers--1420680353346/" name="&amp;lid=article-image-carousel-1" href="/articles/where-are-the-greenest-car-shoppers--1420680353346/" onclick="s_objectID=&quot;https://www.cars.com/articles/where-are-the-greenest-car-shoppers--1420680353346/_1&quot;;return this.s_oc?this.s_oc(e):true"></a>
                        <div class="carousel-item-text" ng-show="showText">
                            <!-- ngIf: sponsored -->
                            <h3 class="carousel-item-title ng-binding">Where Are the Greenest Car Shoppers?</h3>
                            <p class="carousel-item-subtext">
                                <span class="carousel-item-caption ng-binding"></span>
                                <a class="carousel-item-readmore" ng-href="/articles/where-are-the-greenest-car-shoppers--1420680353346/" name="&amp;lid=article-image-carousel-1" href="/articles/where-are-the-greenest-car-shoppers--1420680353346/" onclick="s_objectID=&quot;READ_1&quot;;return this.s_oc?this.s_oc(e):true">READ <svg class="icon" title="left" role="image">
                    <use xlink:href="assets/svg/svg-symbols.svg#icon-chevron" />
                </svg></a>
                            </p>
                        </div>
                    </div>
                </cars-carousel-item>
                <cars-carousel-item title="2016 Lexus ES: First Look" image="assets/img/-1859985170-1429544556394.jpg" href="/articles/2016-lexus-es-first-look-1420680345754/" class="ng-scope ng-isolate-scope">
                    <div class="carousel-item show-text" ng-class="carouselItem.getItemClasses()" style="background-image:url(assets/img/-1859985170-1429544556394.jpg)">
                        <a class="carousel-href" ng-href="/articles/2016-lexus-es-first-look-1420680345754/" name="&amp;lid=article-image-carousel-2" href="/articles/2016-lexus-es-first-look-1420680345754/" onclick="s_objectID=&quot;https://www.cars.com/articles/2016-lexus-es-first-look-1420680345754/_1&quot;;return this.s_oc?this.s_oc(e):true"></a>
                        <div class="carousel-item-text" ng-show="showText">
                            <!-- ngIf: sponsored -->
                            <h3 class="carousel-item-title ng-binding">2016 Lexus ES: First Look</h3>
                            <p class="carousel-item-subtext">
                                <span class="carousel-item-caption ng-binding"></span>
                                <a class="carousel-item-readmore" ng-href="/articles/2016-lexus-es-first-look-1420680345754/" name="&amp;lid=article-image-carousel-2" href="/articles/2016-lexus-es-first-look-1420680345754/" onclick="s_objectID=&quot;READ_2&quot;;return this.s_oc?this.s_oc(e):true">READ <i class="icon-chevron-right"></i></a>
                            </p>
                        </div>
                    </div>
                </cars-carousel-item>
                <cars-carousel-item title="2016 Fiat 500X First Drive" image="assets/img/-184693791-1429200202876.jpg" href="/articles/2016-fiat-500x-first-drive-1420680331538/" class="ng-scope ng-isolate-scope">
                    <div class="carousel-item show-text" ng-class="carouselItem.getItemClasses()" style="background-image:url(assets/img/-184693791-1429200202876.jpg)">
                        <a class="carousel-href" ng-href="/articles/2016-fiat-500x-first-drive-1420680331538/" name="&amp;lid=article-image-carousel-3" href="/articles/2016-fiat-500x-first-drive-1420680331538/" onclick="s_objectID=&quot;https://www.cars.com/articles/2016-fiat-500x-first-drive-1420680331538/_1&quot;;return this.s_oc?this.s_oc(e):true"></a>
                        <div class="carousel-item-text" ng-show="showText">
                            <!-- ngIf: sponsored -->
                            <h3 class="carousel-item-title ng-binding">2016 Fiat 500X First Drive</h3>
                            <p class="carousel-item-subtext">
                                <span class="carousel-item-caption ng-binding"></span>
                                <a class="carousel-item-readmore" ng-href="/articles/2016-fiat-500x-first-drive-1420680331538/" name="&amp;lid=article-image-carousel-3" href="/articles/2016-fiat-500x-first-drive-1420680331538/" onclick="s_objectID=&quot;READ_3&quot;;return this.s_oc?this.s_oc(e):true">READ <i class="icon-chevron-right"></i></a>
                            </p>
                        </div>
                    </div>
                </cars-carousel-item>
                <cars-carousel-item title="2015 Mercedes-Benz C300 Ownership Costs: First Three Months" image="assets/img/1627131345-1429108223479.jpg" href="/articles/2015-mercedes-benz-c300-ownership-costs-first-three-months-1420680324720/" class="ng-scope ng-isolate-scope">
                    <div class="carousel-item show-text" ng-class="carouselItem.getItemClasses()" style="background-image:url(assets/img/1627131345-1429108223479.jpg)">
                        <a class="carousel-href" ng-href="/articles/2015-mercedes-benz-c300-ownership-costs-first-three-months-1420680324720/" name="&amp;lid=article-image-carousel-4" href="/articles/2015-mercedes-benz-c300-ownership-costs-first-three-months-1420680324720/" onclick="s_objectID=&quot;https://www.cars.com/articles/2015-mercedes-benz-c300-ownership-costs-first-three-months-14206803_1&quot;;return this.s_oc?this.s_oc(e):true"></a>
                        <div class="carousel-item-text" ng-show="showText">
                            <!-- ngIf: sponsored -->
                            <h3 class="carousel-item-title ng-binding">2015 Mercedes-Benz C300 Ownership Costs: First Three Months</h3>
                            <p class="carousel-item-subtext">
                                <span class="carousel-item-caption ng-binding"></span>
                                <a class="carousel-item-readmore" ng-href="/articles/2015-mercedes-benz-c300-ownership-costs-first-three-months-1420680324720/" name="&amp;lid=article-image-carousel-4" href="/articles/2015-mercedes-benz-c300-ownership-costs-first-three-months-1420680324720/" onclick="s_objectID=&quot;READ_4&quot;;return this.s_oc?this.s_oc(e):true">READ <i class="icon-chevron-right"></i></a>
                            </p>
                        </div>
                    </div>
                </cars-carousel-item>
            </div>
            <a href="" class="carousel-nav-left ng-isolate-scope" ng-click="carousel.prev(true)" cars-stop-event="click" onclick="s_objectID=&quot;https://www.cars.com/news/_1&quot;;return this.s_oc?this.s_oc(e):true">
                <svg class="icon" title="left" role="image">
                    <use xlink:href="assets/svg/svg-symbols.svg#icon-chevron" />
                </svg>
            </a>
            <a href="" class="carousel-nav-right ng-isolate-scope" ng-click="carousel.next(true)" cars-stop-event="click" onclick="s_objectID=&quot;https://www.cars.com/news/_2&quot;;return this.s_oc?this.s_oc(e):true">
                <svg class="icon" title="left" role="image">
                    <use xlink:href="assets/svg/svg-symbols.svg#icon-chevron" />
                </svg>
            </a>
            <!-- ngIf: showThumbs -->
            <div class="carousel-thumbs-wrapper ng-scope">
                <ul class="carousel-thumbs">
                    <!-- ngRepeat: item in items --><li ng-repeat="item in items" ng-class="{selected:item.selected}" class="ng-scope selected">
                        <a class="carousel-thumb-image" name="&amp;lid=article-thumb-carousel-1" ng-href="/articles/where-are-the-greenest-car-shoppers--1420680353346/" ng-mouseover="carousel.select($index)" style="background-image:url(assets/img/-783910256-1429719397171.jpg)" href="/articles/where-are-the-greenest-car-shoppers--1420680353346/" onclick="s_objectID=&quot;https://www.cars.com/articles/where-are-the-greenest-car-shoppers--1420680353346/_2&quot;;return this.s_oc?this.s_oc(e):true"></a>
                        <a class="carousel-thumb-text ng-binding" ng-href="/articles/where-are-the-greenest-car-shoppers--1420680353346/" ng-mouseover="carousel.select($index)" href="/articles/where-are-the-greenest-car-shoppers--1420680353346/" onclick="s_objectID=&quot;Where Are the Greenest Car Shoppers?_1&quot;;return this.s_oc?this.s_oc(e):true">Where Are the Greenest Car Shoppers?</a>
                        <div class="carousel-thumb-indicator"></div>
                    </li><!-- end ngRepeat: item in items --><li ng-repeat="item in items" ng-class="{selected:item.selected}" class="ng-scope">
                        <a class="carousel-thumb-image" name="&amp;lid=article-thumb-carousel-2" ng-href="/articles/2016-lexus-es-first-look-1420680345754/" ng-mouseover="carousel.select($index)" style="background-image:url(assets/img/-1859985170-1429544556394.jpg)" href="/articles/2016-lexus-es-first-look-1420680345754/" onclick="s_objectID=&quot;https://www.cars.com/articles/2016-lexus-es-first-look-1420680345754/_2&quot;;return this.s_oc?this.s_oc(e):true"></a>
                        <a class="carousel-thumb-text ng-binding" ng-href="/articles/2016-lexus-es-first-look-1420680345754/" ng-mouseover="carousel.select($index)" href="/articles/2016-lexus-es-first-look-1420680345754/" onclick="s_objectID=&quot;2016 Lexus ES: First Look_1&quot;;return this.s_oc?this.s_oc(e):true">2016 Lexus ES: First Look</a>
                        <div class="carousel-thumb-indicator"></div>
                    </li><!-- end ngRepeat: item in items --><li ng-repeat="item in items" ng-class="{selected:item.selected}" class="ng-scope">
                        <a class="carousel-thumb-image" name="&amp;lid=article-thumb-carousel-3" ng-href="/articles/2016-fiat-500x-first-drive-1420680331538/" ng-mouseover="carousel.select($index)" style="background-image:url(assets/img/-184693791-1429200202876.jpg)" href="/articles/2016-fiat-500x-first-drive-1420680331538/" onclick="s_objectID=&quot;https://www.cars.com/articles/2016-fiat-500x-first-drive-1420680331538/_2&quot;;return this.s_oc?this.s_oc(e):true"></a>
                        <a class="carousel-thumb-text ng-binding" ng-href="/articles/2016-fiat-500x-first-drive-1420680331538/" ng-mouseover="carousel.select($index)" href="/articles/2016-fiat-500x-first-drive-1420680331538/" onclick="s_objectID=&quot;2016 Fiat 500X First Drive_1&quot;;return this.s_oc?this.s_oc(e):true">2016 Fiat 500X First Drive</a>
                        <div class="carousel-thumb-indicator"></div>
                    </li><!-- end ngRepeat: item in items --><li ng-repeat="item in items" ng-class="{selected:item.selected}" class="ng-scope">
                        <a class="carousel-thumb-image" name="&amp;lid=article-thumb-carousel-4" ng-href="/articles/2015-mercedes-benz-c300-ownership-costs-first-three-months-1420680324720/" ng-mouseover="carousel.select($index)" style="background-image:url(assets/img/1627131345-1429108223479.jpg)" href="/articles/2015-mercedes-benz-c300-ownership-costs-first-three-months-1420680324720/" onclick="s_objectID=&quot;https://www.cars.com/articles/2015-mercedes-benz-c300-ownership-costs-first-three-months-14206803_2&quot;;return this.s_oc?this.s_oc(e):true"></a>
                        <a class="carousel-thumb-text ng-binding" ng-href="/articles/2015-mercedes-benz-c300-ownership-costs-first-three-months-1420680324720/" ng-mouseover="carousel.select($index)" href="/articles/2015-mercedes-benz-c300-ownership-costs-first-three-months-1420680324720/" onclick="s_objectID=&quot;2015 Mercedes-Benz C300 Ownership Costs: First Three Months_1&quot;;return this.s_oc?this.s_oc(e):true">2015 Mercedes-Benz C300 Ownership Costs: First Three Months</a>
                        <div class="carousel-thumb-indicator"></div>
                    </li><!-- end ngRepeat: item in items -->
                </ul>
            </div><!-- end ngIf: showThumbs -->
            <div class="carousel-credit ng-binding"></div>
        </div>
    </cars-carousel>

</div>
